* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: #111;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    width: 100%;
}

header:before {
    content: "";
    height: 40vh;
    width: 100%;
    position: absolute;
    background: -webkit-gradient(linear, 0% 0%, 0% 70%, from(rgba(95, 95, 95, 0.048)), to(rgba(0, 0, 0, 0.801))),
     -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .1)),
      color-stop(0.501, rgba(255, 255, 255, 0.021)), color-stop(1, rgba(255, 255, 255, 0.041)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.438), rgba(0, 0, 0, 0.527)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
}

.logo {
    /* height: 40vh; */
    margin-left: 10vw;
    position: relative;
}

.logo img {
    position: absolute;
    width: 100%;
    right: -70%;
    top: -280%;
}

h1 {
    color: white;
}

h1>span {
    color: red;
}

.menu {
    width: 20%;
    margin-right: 10vw;
}

.menu nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: space-evenly;
    list-style: none;
}

.menu nav ul li {
    width: 100%;
    text-align: center;
    z-index: 3;
}

.menu nav ul li a {
    display: block;
    background-image: linear-gradient(red, red);
    background-position: 0% 60%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .3s;
    border-radius: 3px;
}

.menu nav ul li a:hover,
a:focus {
    background-size: 100% 3px;
}

.menu nav ul li span {
    color: white;
    background-color: black;
    padding: 0 5px;
    border-radius: 5px;
}

.menu nav ul li a:hover span,
a:focus span {
    color: red;
}


main {
    display: flex;
}

.bandera {
    background-image: url(../imagenes/bandera.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 10vw;
}

.principal {
    background-color: rgba(49, 49, 49, 0.918);
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
}