* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
}

.logo {
    margin-left: 10vw;
}

h1 {
    color: white;
}
h1>span {
    color: red;
}

.menu {
    width: 20%;
    margin-right: 10vw;
}
.menu nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;

}


main {
    display: flex;
}

.bandera {
    background-image: url(../imagenes/bandera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
}
.principal {
   background-color: rgba(49, 49, 49, 0.918);
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

