* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
}

.logo {
    margin-left: 10vw;
}

h1 {
    color: white;
}
h1>span {
    color: red;
}
.menu {
    margin-right: 10vw;
}

.menu ul {
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
}
.menu li {
    width: 150px;
    position: relative;
    text-align: center;
}
.menu nav a {
    color: white;
}
/* 
@keyframes .menu nav a:hover {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 150px;
    z-index: 1;
    height: 5px;
    background-color: red;
    from {transform:scalex(0)}
    to {transform:scaleX(100)}
    
} */
main {
    display: flex;
}

.bandera {
    background-image: url(../imagenes/bandera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
}
.principal {
   background-color: rgba(49, 49, 49, 0.918);
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

